# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
site/dist/

# Tauri
src-tauri/target/

# Logs
*.log

# Environment
*.local
.env
.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Astro
.astro/
